.classpath
.DS_Store
.gradle
.groovy
.project
.settings
.idea
*.iml
BACKUPDEFAULT.if
bin
out
build
license
gemfire.properties
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg
vf.gf.acn-serial-numbers.txt
vf.gf.dmn-serial-numbers.txt

